html, body, a, table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

a, a:hover, a:visited {
    color: inherit;
}

body {
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #222;
    text-align: justify;
    color: #ddd;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

td.c a {
    text-decoration: underline;
}

tr.__event td.a, tr.__event td.c {
    background-color: #444;
}
tr.__event td.b {
    background-color: #555;
}

td.a { background-color: #222 }
td.b { background-color: #333 }
td.c { background-color: #222 }

.mrjudgemental { color: #fff3d4 }
.thebotisbroken { color: #fff3d4 }
.fifteenistooshor { color: #fff3d4 }
.kiniamar0 { color: #9da7ed }
.kiniamaro { color: #9da7ed }
.alxgnon { color: #ed9d9d }
.drfoliberg { color: #bada55 }
.sbstp { color: #b8a2c5 }
.maxime_ { color: #54a5e6 }
.petitprince { color: #beeebe }
.seiyria { color: #c373f3 }
.smircbot { color: #eaca8e }
.kwamebeke { color: #c09454 }
